<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowsApiUrl" value="http://api.tvmaze.com/shows?page={PageId}" />
    <add key="ShowCastApiUrl" value="http://api.tvmaze.com/shows/{ShowId}/cast" />
    <add key="LiteDbConnectionString" value="" />
    <add key="CosmosDbConnectionString" value="" />
    <add key="DelayInSeconds" value="15" />
    <add key="RetryTimes" value="5" />
    <add key="DateTimeFormat" value="yyyy-MM-dd" />
  </appSettings>
</configuration>
